In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

# CSV einlesen
df = pd.read_csv(r'C:\Users\juanc\Documents\Ausbildung_Informatik\1_Praktikum\Praktikum_Daten-_und_Prozessanalyse\Python\Statistik\worldcities_small.csv', encoding='utf-8-sig')

# Spaltennamen bereinigen (entfernt Leerzeichen/Sonderzeichen)
df.columns = df.columns.str.strip()  

# df = df.rename(columns={' lat ': 'lat', ' lng ': 'lng'})  






print(df.columns)
print(df.head)

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')
<bound method NDFrame.head of             city  city_ascii      lat       lng        country iso2 iso3  \
0          Tokyo       Tokyo  35.6870  139.7495          Japan   JP  JPN
1        Jakarta     Jakarta  -6.1750  106.8275      Indonesia   ID  IDN
2          Delhi       Delhi  28.6100   77.2300          India   IN  IND
3      Guangzhou   Guangzhou  23.1300  113.2600          China   CN  CHN
4         Mumbai      Mumbai  19.0761   72.8775          India   IN  IND
...          ...         ...      ...       ...            ...  ...  ...
1995  Shāhjānpur  Shahjanpur  27.8800   79.9100          India   IN  IND
1996  Gwagwalada  Gwagwalada   8.9392    7.0758        Nigeria   NG  NGA
1997       Āvadi       Avadi  13.1147   80.1098          India   IN  IND
1998    Tanch’ŏn    Tanch'on  40.4580  128.9110   Korea, North   KP  PRK
1999  Greensboro  Greensboro  36.0956  -79.8271  United States   US  USA

                     admin_name  capital  population          id
0                         Tōkyō  primary    37785000  1392685764
1                       Jakarta  primary    33756000  1360771077
2                         Delhi    admin    32226000  1356872604
3                     Guangdong    admin    26940000  1156237133
4                   Mahārāshtra    admin    24973000  1356226629
...                         ...      ...         ...         ...
1995              Uttar Pradesh      NaN      346103  1356415439
1996  Federal Capital Territory    minor      346000  1566419265
1997                 Tamil Nādu      NaN      345996  1356009111
1998                     Hamnam      NaN      345875  1408940912
1999             North Carolina      NaN      345858  1840013356

[2000 rows x 11 columns]>

In [2]:
# Auf fehlende Werte in der Datenbank prüfen
print(df.isnull().sum())
print("Vorhandene Spalten", df.columns.tolist())

city            0
city_ascii      0
lat             0
lng             0
country         0
iso2            1
iso3            0
admin_name     12
capital       706
population      0
id              0
dtype: int64
Vorhandene Spalten ['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3', 'admin_name', 'capital', 'population', 'id']

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import DistanceMetric

# 1. CSV einlesen
df = pd.read_csv("worldcities_small.csv")  # Pfad anpassen

# 2. Koordinaten vorbereiten (Grad zu Radiant)
coords = np.deg2rad(df[['lat', 'lng']].values)

# 3. Haversine-Distanzmatrix berechnen
dist = DistanceMetric.get_metric('haversine')
distanz_matrix = dist.pairwise(coords) * 6371  # Radius der Erde in km

# 4. Matrix in DataFrame umwandeln (mit Städtenamen als Index/Spalten)
distanz_df = pd.DataFrame(
    distanz_matrix,
    index=df['city'],    # Zeilen = Startstädte
    columns=df['city']   # Spalten = Zielstädte
)

# 5. Als CSV speichern
distanz_df.to_csv(r"C:\Users\juanc\Documents\Ausbildung_Informatik\1_Praktikum\Praktikum_Daten-_und_Prozessanalyse\Python\Statistik\worldcities_haversine.csv", index=True)

In [ ]:
print(distanz_df.head)

<bound method NDFrame.head of city               Tokyo       Jakarta         Delhi     Guangzhou  \
city
Tokyo           0.000000   5786.849496   5840.881654   2907.434755
Jakarta      5786.849496      0.000000   5001.022751   3332.720414
Delhi        5840.881654   5001.022751      0.000000   3642.156028
Guangzhou    2907.434755   3332.720414   3642.156028      0.000000
Mumbai       6729.199544   4659.477623   1148.512916   4200.420863
...                  ...           ...           ...           ...
Shāhjānpur   5636.593936   4763.260719    274.774575   3377.882442
Gwagwalada  13004.193954  11180.464147   7600.940059  11239.516639
Āvadi        6432.306198   3648.201030   1748.562927   3665.711973
Tanch’ŏn     1085.857523   5655.745788   4841.456937   2420.857842
Greensboro  11045.390868  16619.576478  12430.123154  13287.320710

city              Mumbai        Manila      Shanghai     São Paulo  \
city
Tokyo        6729.199544   2999.584620   1763.271465  18532.158680
Jakarta      4659.477623   2787.272481   4440.821389  15630.477414
Delhi        1148.512916   4752.913171   4245.831013  14430.247068
Guangzhou    4200.420863   1248.263787   1212.026928  17963.485321
Mumbai          0.000000   5128.291257   5032.506866  13774.052653
...                  ...           ...           ...           ...
Shāhjānpur   1212.883091   4480.236714   4014.305934  14679.421538
Gwagwalada   7151.203822  12273.179435  11738.626241   6862.067291
Āvadi        1017.690306   4409.325787   4674.711102  14306.886090
Tanch’ŏn     5796.859174   2977.027371   1224.657000  18089.416839
Greensboro  13241.515094  13969.136205  12206.306678   7493.296708

city               Seoul   Mexico City  ...  António Enes      Plovdiv  \
city                                    ...
Tokyo        1157.285876  11301.736657  ...  11924.127073  9132.439667
Jakarta      5293.731205  16845.009822  ...   7355.714552  9819.930864
Delhi        4685.571249  14658.647478  ...   6399.765090  4907.118518
Guangzhou    2071.292582  14119.898026  ...   9092.053709  8190.736621
Mumbai       5595.661135  15645.283626  ...   5330.248070  5182.121827
...                  ...           ...  ...           ...          ...
Shāhjānpur   4484.963470  14753.080814  ...   6527.716391  5171.904595
Gwagwalada  11919.884748  11344.703773  ...   4570.542416  4076.894986
Āvadi        5363.582630  16394.965440  ...   5492.702315  6199.681954
Tanch’ŏn      362.052644  11708.473002  ...  11087.017416  8083.803866
Greensboro  11371.448031   2643.268650  ...  13713.980596  8433.873552

city        Central Coast      Honolulu    Karşıyaka    Shāhjānpur  \
city
Tokyo         7762.967123   6200.286505  9253.621687   5636.593936
Jakarta       5474.062591  10806.621199  9547.578233   4763.260719
Delhi        10391.803429  11908.662500  4712.880283    274.774575
Guangzhou     7451.583431   8987.562772  8114.808698   3377.882442
Mumbai       10132.129034  12899.120482  4890.585117   1212.883091
...                   ...           ...          ...           ...
Shāhjānpur   10133.350657  11744.098189  4983.330666      0.000000
Gwagwalada   15452.413316  16268.244751  3844.953452   7862.428684
Āvadi         9117.624041  12621.049524  5906.672135   1641.957291
Tanch’ŏn      8514.712081   7102.321692  8187.626635   4655.658491
Greensboro   15393.416167   7589.205873  8841.304834  12591.492544

city          Gwagwalada         Āvadi      Tanch’ŏn    Greensboro
city
Tokyo       13004.193954   6432.306198   1085.857523  11045.390868
Jakarta     11180.464147   3648.201030   5655.745788  16619.576478
Delhi        7600.940059   1748.562927   4841.456937  12430.123154
Guangzhou   11239.516639   3665.711973   2420.857842  13287.320710
Mumbai       7151.203822   1017.690306   5796.859174  13241.515094
...                  ...           ...           ...           ...
Shāhjānpur   7862.428684   1641.957291   4655.658491  12591.492544
Gwagwalada      0.000000   7959.208667  11919.674045   9146.946889
Āvadi        7959.208667      0.000000   5621.476428  14151.428851
Tanch’ŏn    11919.674045   5621.476428      0.000000  11010.696027
Greensboro   9146.946889  14151.428851  11010.696027      0.000000

[2000 rows x 2000 columns]>

: